In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
# Training Data
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Preparing Test data
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
df1 = test_data.drop(["Name","Age","Cabin","Ticket"], axis=1)

df1[pd.isnull(df1).any(axis=1)].head()
df1.describe() # Average Fare
df1['Fare'] = df1['Fare'].replace(np.nan, 55 )

df1['Sex'] = df1['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
df1["Embarked"] = df1['Embarked'].map( {'S':0, 'C':1, 'Q':2} ).astype(int)
x_test = df1
x_test

     PassengerId  Pclass  Sex  SibSp  Parch      Fare  Embarked
0            892       3    1      0      0    7.8292         2
1            893       3    0      1      0    7.0000         0
2            894       2    1      0      0    9.6875         2
3            895       3    1      0      0    8.6625         0
4            896       3    0      1      1   12.2875         0
..           ...     ...  ...    ...    ...       ...       ...
413         1305       3    1      0      0    8.0500         0
414         1306       1    0      0      0  108.9000         1
415         1307       3    1      0      0    7.2500         0
416         1308       3    1      0      0    8.0500         0
417         1309       3    1      1      1   22.3583         1

[418 rows x 7 columns]

In [4]:
# Modifying Train data

# Dropping multiple columns with NaN or Unwanted Values
df = train_data.drop(["Name","Age","Cabin","Ticket"], axis=1)

In [5]:
# Checking Rows with NaN values
df[pd.isnull(df).any(axis=1)].head()

# Figuring out Average passangers Embarked from C,Q or S
n = df.groupby('Embarked').nunique()
# print(n)
# It is clear that Q has lowest number so we will fill Q in Nan values 
# Assuming the 2 passanger with NaN started there journey from Q

# Filling NaN values with Q in Embarked
df['Embarked'] = df['Embarked'].replace(np.nan, 'Q')

In [6]:
# Mapping columns with integer values
df['Sex'] = df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
df["Embarked"] = df['Embarked'].map( {'S':0, 'C':1, 'Q':2} ).astype(int)

In [7]:
# Selecting the input and label for the data

x_train = df.drop(columns=['Survived'])
y_train = df['Survived']

In [8]:
# Implementing Logistic Regression Model

from sklearn.linear_model import LogisticRegression

# Defining Simple LR Model with lbfgs Algorithm
model = LogisticRegression(solver='lbfgs',max_iter = 1000)
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [9]:
# Prediction

y_test = model.predict(x_test)

In [10]:
output = pd.DataFrame({'PassengerId': x_test.PassengerId, 'Survived': y_test})
output.to_csv('my_submission.csv', index=False)
output

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]